body {
    font-family: 'Arial', sans-serif;
    background: url('@/app/resources/rawMarkup/smash.png') no-repeat center center fixed;
    background-size: cover;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    display:grid; 
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    height:95vh;
    width:95vw;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 1em; /* Changed from percentage for consistency */
}

.svgContainer{
    grid-column: 1/3;
    grid-row: 1/3;
}
