@import "tailwindcss";



body {
  font-family: 'Arial', sans-serif;
  background: url('./assets/images/background/smash.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  
}



